{% extends 'shop/base.html' %}

{% block content %}

<h1>Bienvenus sur le market des fruits</h1>
<p>Les fruits en stock sont :</p>




<div class="container">
    <div class="row align-items-start">
{% for product in products %}
<br>
<div class="col">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ product.picture_url }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">Stock : {{ product.stock }}</p>
            <p class="card-text">Prix : {{ product.price }}€</p>
            <a href="#" class="btn btn-primary">Ajouter au panier</a>
        </div>
    </div>
</div>
{% endfor %} 
</div>
</div>



{% endblock %}



