{% extends 'registration/base.html' %}

{% block content %}


<div class="container"></div>
    
        <h1>S'enregistrer</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button class= "btn btn-primary" type="submit" name= "button" >Valider l'inscription</button> <!-- validation of inscription -->
            <a class="btn btn-secondary" href="{% url 'index' %}" >Annuler</a>   <!-- return to index if you want -->
        </form>
</div>





<!-- <div class="card mt-4">
    <div class="card-body text-center">
      <a class="btn btn-secondary" href="{% url 'signup' %}">Sign Up</a>
      <a class="btn btn-primary" href="{% url 'login' %}">Log In</a>
    </div>
  </div>
 -->





{% endblock %}